@font-face {
  font-family: 'spacegrotesk';
  font-style: normal;
  font-weight: normal;
  src: url('../src/fonts/spacegrotesk/SpaceGrotesk-Medium.ttf');
}

@font-face {
  font-family: 'spacegrotesk-regular';
  font-style: normal;
  font-weight: 500;
  src: url('../src/fonts/spacegrotesk/SpaceGrotesk-Regular.ttf');
}