.hero {
  padding: $section-padding;
  .hero-wrap {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0 5em 5em;
    align-items: center;
    img {
      width: 60%;
    }
    .copy {
      flex: 40%;
      font-size: 16px;
      h2 {
        font-size: 60px;
        font-family: $body-light;
        font-weight: 500;
      }
      h2:nth-child(2) {
        line-height: 0.5;
        color: $blue;
        margin-bottom: 1em;
      }
      .large {
        font-size: 20px;
        margin-top: 2em;
      }
    }
  }
  .button-section {
    display: flex;
    justify-content: space-evenly;
  }
}