.selling-points {
  background: $blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 150px 0 100px 0;
  @media (min-width: $phone-l) {    
    padding: 300px 0 100px 0;
  }
  .wrap {
    display: flex;
    justify-content: center;
    padding: 0 1em 2em 1em;
    @media (max-width: $phone-l) {
      text-align: center;
    }
    h3 {
      color: white;
      font-size: 30px;
      font-weight: 300;
    }
  }
  .points {
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    .point {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 2em;
      @media (min-width: $phone-l) {
        flex: 25%;
      }
      .icon {
        width: 120px;
        height: 120px;
        border: 1px solid black;
        border-radius: 100px;
        background: white;
      }
      h4 {
        padding-top: 8px;
        font-size: 20px;
        font-weight: 500;
      }
      p {
        width: 80%;
        text-align: center;
        padding-top: 8px;
      }
    }
  }
  .button-wrap {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    .btn {
      z-index: 2;
    }
    .shaddow {
      z-index: 1;
      transform: translate(-8px, 8px);
    }
  }
}

.curve {
  background-color:white;
  height: 100px;
  border-bottom-left-radius: 250% 200%;
  border-bottom-right-radius: 250% 200%;
  z-index: 10;
  width: 100%;
  position: absolute;
  @media (min-width: $phone-l) {
    height: 200px;
  }
}
